<div ng-include="'client/header.html'"></div>

<!-- manage view -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2><span class="text-warning">Manage Items</span> </h2>
                <span class="pull-right text-muted">Today is {{nowTime}}</span>
                <div class="text-success">{{store.STORE_NAME}}</div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
                <div id = "manage" ng-controller = "manageController">
                    <table class = "table">
                        <thead>
                        <th><div class="text-info">Name</div></th>
                        <th><div class="text-info">Price</div></th>
                        <th><div class="text-info">Prime Cost</div></th>
                        <th><div class="text-info">isTaxable</div></th>
                        <th><div class="text-info">Category</div></th>
                        <th><div class="text-info">Action</div></th>
                        <th>&nbsp;</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control" ng-model="newMenu.NAME"></td>
                            <td><input type="number" class="form-control" ng-model="newMenu.PRICE"></td>
                            <td><input type="number" class="form-control" ng-model="newMenu.PRIME_COST"></td>
                            <td><input type='checkbox' ng-model="newMenu.TAX_MODE"></td>

                            <td>
                                <select ng-model="newMenu.CATEGORY_NAME">
                                    <option ng-repeat="category in categories" value="{{category.NAME}}" >{{category.NAME}}</option>
                                </select>
                            </td>
                            <td><button class = "btn btn-primary" ng-click = "addItem()">Add Item</button></td>
                        </tr>
                        <tr ng-repeat="item in menuList">
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.primepcost}}</td>
                            <td>{{item.taxmode}}</td>
                            <td>{{item.category}}</td>
                            <td><button class = "btn btn-danger" ng-click = "removeItem(item)">Remove</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>