::selection {
  background: rgba(255,255,255,.5);
  color: #333;
}
::-moz-selection {
  background: rgba(0,0,0,.5);
  color: red;
}

.mobile-screen{
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 300px;
  height: 500px;
  background: rgba(3,3,3,.7);
  overflow: hidden;
}

.header{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: rgba(3,3,3,.1);
}

h1{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  color: rgba(255,255,255,.5);
}

.logo{
  position: relative;
  top: 30px;
  width: 150px;
  height: 150px;
  margin: auto;
  background: url(http://s10.postimg.org/z6xqdowix/imageedit_1_8168502978.gif) no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

form{
  position: absolute;
  bottom: 50px;
  width: 100%;
}

input,
.login-btn{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 84%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input{
  border: none;
  border-left: 5px solid;
  background: none;
  border-color: rgb(225, 40, 54);
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input:focus{
  outline: 0;
  background: rgba(225, 40, 54,.2);
  border-radius: 20px;
  border-color: transparent;
}

a{
  text-decoration: none;
}

.login-btn{
  border-radius: 4px;
  text-align: center;
  background: rgb(225, 40, 54);
  color: #fff;
}

.other-options{
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 2px;
  left: 0;
}

.option{
  position: relative;
  display: block;
  float: right;
  width: 45%;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(0,0,0,.2);
  border-bottom: 2px solid  rgb(225, 40, 54);
  cursor: pointer;
}

.option:first-child{
  float: left;
  left: 3.3%;
}

.option:last-child{
  margin-right: 3.3%;
}

.option-text{
  position: relative;
  margin: 0;
  line-height: 30px;
  color: #ccc;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}

#fpass-form,
#registration-form{
  display: none;
}

/* Change colors container */
.change-colors-container{
  position: absolute;
  height: 300px;
  width: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255,255,255,.5);
}