<md-dialog>
    <md-content class="md-padding">
        <h2>Add Menu</h2>
        <form name="menuForm" ng-controller="menuCtrl" layout="row" layout-wrap>
            <md-input-container flex="100">
                <label>Menu Name</label>
                <input name="name" id="name" ng-model="newMenu.name" ng-required="true">
            </md-input-container>
            <md-input-container flex="100">
                <label>Price</label>
                <input name="price" id="price" ng-model="newMenu.price" ng-required="true" type="number">
            </md-input-container>
            <md-input-container flex="100">
                <label>Prime Cost</label>
                <input name="prime_cost" id="prime_cost" ng-model="newMenu.prime_cost" ng-required="true" type="number">
            </md-input-container>
            <md-input-container flex="100">
                <label>Barcode</label>
                <input name="barcode" id="barcode" ng-model="newMenu.barcode" type="text">
            </md-input-container>

            <md-input-container flex="100">
                <md-checkbox name="tax_mode" id="tax_mode" ng-model="newMenu.tax_mode" aria-label="Checkbox" class="md-primary">
                    Tax Mode : {{newMenu.tax_mode}}
                </md-checkbox>
            </md-input-container>

            <md-input-container flex="100">
                <label>Category</label>
                <md-select ng-model="newMenu.category_name" ng-required="true">
                    <md-option ng-repeat="category in categoryList" value="{{category.categoryName}}" >
                        {{category.categoryName}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout="row" layout-align="end end">
                <span flex></span>

                <md-button class="md-raised" ng-click="answer()"> Cancel </md-button>
                <md-button class="md-raised md-warn" ng-click="reset()"> RESET </md-button>
                <md-button class="md-raised md-primary" ng-click="answer(newMenu)" ng-disabled="menuForm.$invalid"> SUBMIT </md-button>

            </div>
        </form>
    </md-content>
</md-dialog>
