<md-dialog>
    <md-content class="md-padding">
        <h2>Add Employee</h2>
        <form name="employeeForm" ng-controller="employeeCtrl" layout="row" layout-wrap>
            <md-input-container flex="100">
                <label>Employee ID</label>
                <input name="id" id="id" ng-model="newEmployee.id" ng-required="true" type="number">
            </md-input-container>
            <md-input-container flex="100">
                <label>Name</label>
                <input name="name" id="name" ng-model="newEmployee.name" ng-required="true" type="text">
            </md-input-container>
            <md-input-container flex="100">
                <label>Job Title</label>
                <md-select ng-model="newEmployee.job_title" ng-required="true">
                    <md-option ng-repeat="item in jobList" value="{{item.title}}" >
                        {{item.title}}
                    </md-option>
                </md-select>
            </md-input-container>

            <div layout="row" layout-align="end end">
                <span flex></span>

                <md-button class="md-raised" ng-click="answer()"> Cancel </md-button>
                <md-button class="md-raised md-warn" ng-click="reset()"> RESET </md-button>
                <md-button class="md-raised md-primary" ng-click="answer(newEmployee)" ng-disabled="employeeForm.$invalid"> SUBMIT </md-button>

            </div>
        </form>
    </md-content>
</md-dialog>
