<md-content class="topSpace" layout="row">
    <span flex></span>
    <div id="demo" ng-controller="employeeCtrl">
        <md-content flex layout layout-align="center">
            <md-button class="md-fab" ng-click="showAdd($event)">
                <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
            </md-button>
        </md-content>
        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                <tr>
                    <th><div class="text-info">
                        <a href="#" ng-click="sortType = 'id';sortReverse = !sortReverse">
                                ID
                            <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down">▲</span>
                            <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up">▼</span>

                        </a>
                    </div>
                    </th>
                    <th><div class="text-info">
                        <a href="#" ng-click="sortType = 'name';sortReverse = !sortReverse">
                                Name
                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down">▲</span>
                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up">▼</span>
                        </a>
                    </div>
                    </th>
                     <th><div class="text-info">
                        <a href="#" ng-click="sortType = 'job_title';sortReverse = !sortReverse">
                                Job Title
                            <span ng-show="sortType == 'job_title' && !sortReverse" class="fa fa-caret-down">▲</span>
                            <span ng-show="sortType == 'job_title' && sortReverse" class="fa fa-caret-up">▼</span>
                        </a>
                    </div>
                    </th>
                    <th><div class="text-info">
                        <a href="#" ng-click="sortType = 'join_date';sortReverse = !sortReverse">
                                Job Date
                            <span ng-show="sortType == 'join_date' && !sortReverse" class="fa fa-caret-down">▲</span>
                            <span ng-show="sortType == 'join_date' && sortReverse" class="fa fa-caret-up">▼</span>
                        </a>
                    </div>
                    </th>
                    <th><div class="text-info">Action</div></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in employeeList | orderBy:sortType:sortReverse">
                    <td data-title="ID">{{item.id}}</td>
                    <td data-title="Name">{{item.name}}</td>
                    <td data-title="Job Title">{{item.job_title}}</td>
                    <td data-title="Join Date">{{item.join_date}}</td>
                    <td data-title="Action">
                        <md-button class="md-raised md-warn" ng-click="removeEmployee(item)">Remove</md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <span flex></span>
</md-content>
