<div ng-include="'client/header.html'"></div>

<!-- manage view -->
<div class="container" ng-controller="PurchaseController">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2><span class="text-warning">Purchase Log</span> </h2>
                <span class="pull-right text-muted">Today is {{now | date : 'MMM dd, yyyy'}}</span>
                <div class="text-success">{{store.STORE_NAME}}</div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
                <div id = "manage">
                    <table class = "table">
                        <thead>
                        <th><div class="text-info">Purchase Time</div></th>
                        <th>&nbsp;</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat = "item in purchaseList">
                            <td>{{item.time}}</td>
                            <td><button class="btn btn-primary" ng-click="receiptModal(item)">Receipt</button></td>
                            <td><button class = "btn btn-danger" ng-click="removeItem(item)">Remove</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>