<div class="modal fade" id="card">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Payment</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            <button type="button" class="btn btn-success" ng-click="cash()">Cash</button>
                            <button type="button" class="btn btn-success" ng-click="creditCard()">Card</button>
                            <div class="box" style="margin-top: 20px">
                                <div id="numberPad">
                                    <div class="label label-danger">Total: ${{getSum()}}</div>
                                    <h3>Card Number</h3>
                                    <input type="text" id="showPrice" class="form-control" ng-model="showPrice">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="cardSale" ng-click="checkout()">Sale</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>