<div id="payment" style="visibility: hidden">
    <div class="row">
        <div class="col-sm-7">
            <div class="well">
                <button type="button" class="btn btn-success" ng-click="cash()">Cash</button>
                <button type="button" class="btn btn-success" ng-click="creditCard()">Card</button>
                <div class="box" style="margin-top: 20px">
                    <div id="numberPad">
                        <div class="label label-danger">Total: ${{getSum()}}</div>
                        <table class="table" style="text-align: center">
                            <thead>
                            <th>Number Pad</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('7')">7</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('8')">8</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('9')">9</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('4')">4</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('5')">5</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('6')">6</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('1')">1</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('2')">2</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('3')">3</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('c')">Clear
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('0')">0</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="numberPad('s')">Sale
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input type="text" id="showPrice" class="form-control" ng-model="showPrice">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>