<md-content class="topSpace" layout="row">
  <span flex></span>
    <div layout="column" flex="50">
      <div ng-show="ac.error">
        <small>{{ ac.error }}</small>
      </div>
      <form class="topSpace" layout="column">
        <md-input-container>
          <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
          <input type="password" ng-model="ac.credentials.old"
                 placeholder="old password" aria-label="old password"/>
        </md-input-container>

        <md-input-container>
          <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
          <input type="password" ng-model="ac.credentials.new"
                 placeholder="new password" aria-label="new password"/>
        </md-input-container>

        <md-button class="md-raised md-primary"
                   ng-click="ac.changePassword()" aria-label="change password">change password
        </md-button>
      </form>
    </div>
  <span flex></span>
</md-content>
