<md-content class="topSpace" layout="row">
  <span flex></span>
    <div layout="column" flex="50">
      <div ng-show="ac.error">
        <small>{{ ac.error }}</small>
      </div>
      <form class="topSpace" layout="column">
        <md-input-container>
          <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
          <input type="email" ng-model="ac.credentials.email"
                 placeholder="email" aria-label="email"/>
        </md-input-container>
        <md-button class="md-raised md-primary"
                   ng-click="ac.reset()" aria-label="reset password">reset password
        </md-button>
      </form>
      <div layout="row" layout-align="space-around center">
        <a ui-sref="login">Login</a>
      </div>
    </div>
  <span flex></span>
</md-content>
