<md-content class="topSpace" layout="row">
  <span flex></span>
    <div layout="column" flex="50">
      <div ng-show="ac.error">
        <small>{{ ac.error }}</small>
      </div>
      <form class="topSpace" layout="column">
        <md-input-container>
          <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
          <input id='usernameInput' type="text" ng-model="ac.credentials.username"
                 placeholder="username" aria-label="username"/>
        </md-input-container>

        <md-input-container>
          <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
          <input id='passwordInput' type="password" ng-model="ac.credentials.password"
                 placeholder="password" aria-label="password"/>
        </md-input-container>

        <md-button id='signIn' class="md-raised md-primary" ng-click="ac.login()"
                   aria-label="login">Sign In
        </md-button>
      </form>
      <div layout="row" layout-align="space-around center">
        <a ui-sref="forgotpw">forgot password?</a>
        <a ui-sref="register">create an account</a>
      </div>
    </div>
  <span flex></span>
</md-content>
