<md-content class="topSpace" layout="row">
    <span flex></span>
    <div layout="column" flex="50">
        <div ng-show="ac.error">
            <small>{{ ac.error }}</small>
        </div>

        <form class="topSpace" layout="column">
            <md-list-item ng-if="$root.currentUser">
                <md-icon md-svg-icon="action:ic_account_circle_24px"></md-icon>
                <p><span ng-bind="$root.currentUser.username"></span> </p>
            </md-list-item>

            <md-list-item ng-if="$root.currentUser">
                <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
                <p><span ng-bind="$root.currentUser.emails[0].address"></span> </p>
            </md-list-item>


                <md-input-container>
                    <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
                    <input type="password" ng-model="ac.credentials.new"
                           placeholder="New password" aria-label="new password"/>
                </md-input-container>

            <md-button class="md-raised md-primary"
                       ng-click="ac.resetPassword()" aria-label="login">Reset password
            </md-button>
        </form>
        <div layout="row" layout-align="space-around center">
            <a ui-sref="login">Login</a>
        </div>
    </div>
    <span flex></span>
</md-content>
