/* CSS declarations go here */

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.btn {
    margin-top: 5px;
}

hr {
    margin-top: 5px;
    margin-bottom: 8px;
}

.text-info {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: orange;
    padding: 5px 5px 5px 10px;
    font-size: 110%;
}

.box {
    border-radius: 5px;
    box-shadow: 1px 2px 10px silver;
    padding: 10px;
}

.label {
    font-size: 120%;
    padding-right: 10px;
}

.buttons {
    padding: 20px;
}

.list-group-item {
    float: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
