<md-content class="topSpace" layout="row">
    <span flex></span>
    <div id="demo" ng-controller="categoryCtrl">
        <md-content flex layout layout-align="center">
            <md-button class="md-fab" ng-click="showAdd($event)">
                <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
            </md-button>
        </md-content>
        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                <tr>
                    <th><div class="text-info">Category Name</div></th>
                    <th><div class="text-info">Action</div></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in categoryList">
                    <td data-title="Name">{{item.categoryName}}</td>
                    <td data-title="Action">
                        <md-button class="md-raised md-warn" ng-click="removeCategory(item)">Remove</md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <span flex></span>
</md-content>
